<% input1 = expanded ? previous_endpoint.input.expand : previous_endpoint.input %>
<% input2 = expanded ? endpoint.input.expand : endpoint.input %>
<% output1 = expanded ? previous_endpoint.output.expand : previous_endpoint.output %>
<% output2 = expanded ? endpoint.output.expand : endpoint.output %>
<% input_diff = Diff::FromValues.new(input1, input2) %>
<% output_diff = Diff::FromValues.new(output1, output2) %>
<% notes_diff = DiffText::FromNotes.new(previous_endpoint.note, endpoint.note) %>
<% auth_diff = DiffText::FromNotes.new(previous_endpoint.auth.humanize, endpoint.auth.humanize) %>
<% responses_diff = DiffResponses::FromResponses.new(previous_endpoint.responses, endpoint.responses) %>

<div class="endpoint-container" id="endpoint-<%= endpoint.page_url %>">
  <div class="endpoint-name-container">
    <div class="endpoint-name">
      <%= endpoint.name %>
      <% if endpoint.input.expandable? || endpoint.output.expandable? %>
        <% if expanded %>
          <button type="button" data-action="endpoint#collapse">Collapse</button>
        <% else %>
          <button type="button" data-action="endpoint#expand">Expand</button>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="endpoint-section-container">
    <div class="endpoint-section">NOTE</div>
    <div class="endpoint-section">NOTE</div>
  </div>

  <div class="endpoint-note-container">
    <div class="endpoint-note"><%= render "specs/text", diff: notes_diff.before %></div>
    <div class="endpoint-note"><%= render "specs/text", diff: notes_diff.after %></div>
  </div>

  <div class="endpoint-section-container">
    <div class="endpoint-section">AUTH</div>
    <div class="endpoint-section">AUTH</div>
  </div>

  <div class="endpoint-auth-container">
    <div class="endpoint-auth"><%= render "specs/text", diff: auth_diff.before %></div>
    <div class="endpoint-auth"><%= render "specs/text", diff: auth_diff.after %></div>
  </div>

  <div class="endpoint-section-container">
    <div class="endpoint-section">RESPONSES</div>
    <div class="endpoint-section">RESPONSES</div>
  </div>

  <div class="endpoint-responses-container">
    <div class="endpoint-responses"><%= render "specs/responses", diff: responses_diff.before %></div>
    <div class="endpoint-responses"><%= render "specs/responses", diff: responses_diff.after %></div>
  </div>

  <div class="endpoint-section-container">
    <div class="endpoint-section">INPUT</div>
    <div class="endpoint-section">INPUT</div>
  </div>

  <div class="endpoint-root-container">
    <div class="endpoint-root">
      <%= render "specs/json", diff: input_diff.before %>
    </div>
    <div class="endpoint-root">
      <%= render "specs/json", diff: input_diff.after %>
    </div>
  </div>

  <div class="endpoint-root-container">
    <div class="endpoint-root">
      <div class="spec"><%= input1.serialize %></div>
    </div>
    <div class="endpoint-root">
      <div class="spec"><%= input2.serialize %></div>
    </div>
  </div>

  <div class="endpoint-section-container">
    <div class="endpoint-section">OUTPUT</div>
    <div class="endpoint-section">OUTPUT</div>
  </div>

  <div class="endpoint-root-container">
    <div class="endpoint-root">
      <%= render "specs/json", diff: output_diff.before %>
    </div>
    <div class="endpoint-root">
      <%= render "specs/json", diff: output_diff.after %>
    </div>
  </div>

  <div class="endpoint-root-container">
    <div class="endpoint-root">
      <div class="spec"><%= output1.serialize %></div>
    </div>
    <div class="endpoint-root">
      <div class="spec"><%= output2.serialize %></div>
    </div>
  </div>
</div>
