<% input1 = expanded ? previous_endpoint.input.expand : previous_endpoint.input %>
<% input2 = expanded ? endpoint.input.expand : endpoint.input %>
<% output1 = expanded ? previous_endpoint.output.expand : previous_endpoint.output %>
<% output2 = expanded ? endpoint.output.expand : endpoint.output %>
<% input_diff = Diff::FromValues.new(input1, input2) %>
<% output_diff = Diff::FromValues.new(output1, output2) %>
<div class="endpoint-container" id="endpoint-<%= endpoint.page_url %>">
  <div class="endpoint-name-container">
    <div class="endpoint-name">
      <%= endpoint.name %>
      <% if endpoint.input.expandable? || endpoint.output.expandable? %>
        <% if expanded %>
          <button type="button" data-action="endpoint#collapse">Collapse</button>
        <% else %>
          <button type="button" data-action="endpoint#expand">Expand</button>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="endpoint-section-container">
    <div class="endpoint-section">INPUT</div>
    <div class="endpoint-section">INPUT</div>
  </div>

  <div class="endpoint-root-container">
    <div class="endpoint-root">
      <%= render "specs/json", diff: input_diff.before %>
    </div>
    <div class="endpoint-root">
      <%= render "specs/json", diff: input_diff.after %>
    </div>
  </div>

  <div class="endpoint-section-container">
    <div class="endpoint-section">OUTPUT</div>
    <div class="endpoint-section">OUTPUT</div>
  </div>

  <div class="endpoint-root-container">
    <div class="endpoint-root">
      <%= render "specs/json", diff: output_diff.before %>
    </div>
    <div class="endpoint-root">
      <%= render "specs/json", diff: output_diff.after %>
    </div>
  </div>
</div>
