<% output_diff = endpoint.parsed_output.to_diff(:no_change) %>
<% output_error_diff = endpoint.parsed_output_error.to_diff(:no_change) %>
<% responses_diff = DiffResponses::FromResponses.new(endpoint.responses, []) %>

<div class="grid">
  <div class="endpoint-container removed" id="endpoint-<%= endpoint.page_url %>">
    <div class="endpoint-name-container">
      <div class="endpoint-name removed">
        <%= endpoint.name %>
      </div>
    </div>

    <div class="endpoint-section-container">
      <div class="endpoint-section">NOTE</div>
    </div>

    <div class="endpoint-note-container">
      <div class="endpoint-note"><%= endpoint.note %></div>
    </div>

    <div class="endpoint-section-container">
      <div class="endpoint-section">RESPONSES</div>
    </div>

    <div class="endpoint-responses-container">
      <div class="endpoint-responses"><%= render "specs/responses", diff: responses_diff.before %></div>
    </div>

    <div class="endpoint-section-container">
      <div class="endpoint-section">OUTPUT</div>
    </div>

    <div class="endpoint-root-container">
      <div class="endpoint-root">
        <%= render "specs/json", diff: output_diff %>
      </div>
    </div>

    <div class="endpoint-section-container">
      <div class="endpoint-section">OUTPUT FOR ERRORS</div>
    </div>

    <div class="endpoint-root-container">
      <div class="endpoint-root">
        <%= render "specs/json", diff: output_error_diff %>
      </div>
    </div>
  </div>
  <div class="right"></div>
</div>