<% output_diff = endpoint.parsed_output.to_diff(:no_change) %>
<% output_error_diff = endpoint.parsed_output_error.to_diff(:no_change) %>
<% responses_diff = DiffResponses::FromResponses.new([], endpoint.responses) %>
<div class="grid grid-cols-2 gap-2">
  <div></div>
  <div>
    <div class="border border-emerald-200 rounded-lg">
      <div class="sticky top-0 z-10 rounded-t-lg bg-emerald-700 text-white px-4 py-3 text-sm font-mono">
        <%= endpoint.name %>
      </div>
      <div class="bg-emerald-50 border-t border-emerald-200 px-3 py-1.5 text-xs font-semibold text-black uppercase tracking-wide">Note</div>
      <div class="px-3 py-2 bg-emerald-50 border-b border-emerald-200 text-sm text-gray-700"><%= endpoint.note %></div>
      <div class="bg-emerald-50 border-t border-emerald-200 px-3 py-1.5 text-xs font-semibold text-black uppercase tracking-wide">Responses</div>
      <div class="pl-2 py-2 bg-emerald-50 border-b border-emerald-200"><%= render "specs/responses", diff: responses_diff.after %></div>
      <div class="bg-emerald-50 border-t border-emerald-200 px-3 py-1.5 text-xs font-semibold text-black uppercase tracking-wide">Output</div>
      <div class="pl-2 py-2 bg-emerald-50 border-b border-emerald-200"><%= render "specs/json", diff: output_diff %></div>
      <div class="bg-emerald-50 border-t border-emerald-200 px-3 py-1.5 text-xs font-semibold text-black uppercase tracking-wide">Output for Errors</div>
      <div class="pl-2 py-2 bg-emerald-50 border-b border-emerald-200"><%= render "specs/json", diff: output_error_diff %></div>
    </div>
  </div>
</div>
