<div class="endpoint-container" id="endpoint-<%= endpoint.page_url %>">
  <div class="endpoint-name-container">
    <div class="endpoint-name">
      <%= endpoint.name %>
    </div>
    <div class="endpoint-name">
      <select value="<%= endpoint.http_verb %>" name="version[endpoints_attributes][][http_verb]">
        <option value="verb_get">GET</option>
        <option value="verb_post">POST</option>
        <option value="verb_delete">DELETE</option>
        <option value="verb_put">PUT</option>
        <option value="verb_patch">PATCH</option>
      </select>
      <input type="text"
             value="<%= endpoint.path %>"
             name="version[endpoints_attributes][][url]"/>
      <button type="button" onClick="removeEndpoint(this)">x</button>
    </div>
  </div>

  <div class="endpoint-section-container">
    <div class="endpoint-section">INPUT</div>
    <div class="endpoint-section">INPUT</div>
  </div>

  <div class="endpoint-root-container">
    <div class="endpoint-root">
      <%= render "specs/json", diff: input_diff %>
    </div>
    <div class="endpoint-root">
      <div class="react-json-schema"
           data-initial-root="<%= endpoint.input.serialize %>"
           data-name="version[endpoints_attributes][][original_input_string]"
      ></div>
    </div>
  </div>

  <div class="endpoint-section-container">
    <div class="endpoint-section">OUTPUT</div>
    <div class="endpoint-section">OUTPUT</div>
  </div>

  <div class="endpoint-root-container">
    <div class="endpoint-root">
      <%= render "specs/json", diff: output_diff %>
    </div>
    <div class="endpoint-root">
      <div class="react-json-schema"
           data-initial-root="<%= endpoint.output.serialize %>"
           data-name="version[endpoints_attributes][][original_output_string]"
      ></div>
    </div>
  </div>
</div>