<div class="endpoint-container removed" id="endpoint-<%= endpoint.page_url %>">
  <div class="endpoint-name-container">
    <div class="endpoint-name removed">
      <%= endpoint.name %>
    </div>
    <div class="endpoint-name-placeholder"></div>
  </div>

  <div class="endpoint-section-container">
    <div class="endpoint-section">NOTE</div>
    <div class="endpoint-section-placeholder"></div>
  </div>

  <div class="endpoint-note-container">
    <div class="endpoint-note"><%= endpoint.note %></div>
    <div class="endpoint-note-placeholder"></div>
  </div>

  <div class="endpoint-section-container">
    <div class="endpoint-section">INPUT</div>
    <div class="endpoint-section-placeholder"></div>
  </div>

  <div class="endpoint-root-container">
    <div class="endpoint-root">
      <%= render "specs/json", diff: input_diff %>
      <div class="spec"><%= endpoint.input.serialize %></div>
    </div>
    <div class="endpoint-root-placeholder">
    </div>
  </div>

  <div class="endpoint-section-container">
    <div class="endpoint-section">OUTPUT</div>
    <div class="endpoint-section-placeholder"></div>
  </div>

  <div class="endpoint-root-container">
    <div class="endpoint-root">
      <%= render "specs/json", diff: output_diff %>
      <div class="spec"><%= endpoint.output.serialize %></div>
    </div>
    <div class="endpoint-root-placeholder">
    </div>
  </div>
</div>