<div class="projects-view">
    <h1><%= @group.name %></h1>
    <% @projects.each do |project| %>
      <div class="project-card">
        <header><%= project.name %></header>
        <div class="section">
          <%= link_to "Create new version", new_project_version_path(project_name: project.name) %>
        </div>
        <div class="section">Recent versions:</div>
        <% project.versions.order({ order: "DESC" }).each do |version| %>
          <div class="version">
            <%= link_to version.name, project_version_path(name: version.name, project_name: project.name) %>
            <span class="date"><%= version.created_at.strftime("%Y-%m-%d") %></span>
          </div>
        <% end %>
      </div>
    <% end %>
  <div>
    <%= button_to "New project", new_project_path, method: :get %>
  </div>
</div>
