<div class="projects-view">
  <h1><%= @group.name %></h1>
  <% @projects.each do |project| %>
    <div class="project-card">
      <header><%= project.name %></header>
      <div class="project-body">
        <div class="section">Versions:
          <% project.versions.order({ order: "DESC" }).each do |version| %>
            <div class="version">
              <%= link_to version.name, project_version_path(name: version.name, project_name: project.name) %>
              <span class="date"><%= version.created_at.strftime("%Y-%m-%d") %></span>
            </div>
          <% end %>
        </div>
        <div class="section">
          <div>
            Candidates:
          </div>
          <% project.candidates.order({ order: "DESC" }).each do |candidate| %>
            <div>
              <%= link_to candidate.name, project_candidate_path(name: candidate.name, project_name: project.name) %>
              <%= candidate.aasm_state %>
              <% if candidate.base_version %>
                (base version <%= candidate.base_version.name %> )
              <% end %>
            </div>
          <% end %>
          <% if project.can_create_candidate? %>
            <%= link_to "Create", new_project_candidate_path(project_name: project.name) %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <div>
    <%= button_to "New project", new_project_path, method: :get, class: "btn btn-primary" %>
  </div>
</div>
