<div class="login-container">
  <div class="login-card">
    <h2 class="login-title">Forgot your password?</h2>
    
    <% if flash[:alert] %>
      <div class="flash-message flash-alert"><%= flash[:alert] %></div>
    <% end %>
    <% if flash[:notice] %>
      <div class="flash-message flash-notice"><%= flash[:notice] %></div>
    <% end %>

    <%= form_with url: passwords_path, class: "login-form" do |form| %>
      <div class="form-group">
        <%= form.label :email_address, "Email Address", class: "form-label" %>
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "form-input" %>
      </div>
      
      <%= form.submit "Email reset instructions", class: "btn btn-primary" %>
    <% end %>

    <div class="login-footer">
      <%= link_to "Back to sign in", new_session_path, class: "forgot-password-link" %>
    </div>
  </div>
</div>
