<aside>
  <% if @categorized_endpoints.any? %>
    <div class="aside-section">
      <div class="aside-header">Endpoints</div>
      <% @categorized_endpoints.each do |endpoint| %>
        <div class="link-container <%= endpoint.annotation %>">
          <a href="<%= "#endpoint-#{endpoint.page_url}" %>"><%= endpoint.name %></a>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @categorized_entities.any? %>
    <div class="aside-section">
      <div class="aside-header">Entities</div>
      <% @categorized_entities.each do |entity| %>
        <div class="link-container <%= entity.annotation %>">
          <a href="<%= "#entity-#{entity.name}" %>"><%= entity.name %></a>
        </div>
      <% end %>
    </div>
  <% end %>
</aside>
