<% show_existing_endpoints = existing_endpoints.any? %>
<% show_added_endpoints = added_endpoints.any? %>
<% show_removed_endpoints = removed_endpoints.any? %>
<% show_endpoints = show_existing_endpoints || show_added_endpoints || show_removed_endpoints %>

<% show_existing_entities = existing_entities.any? %>
<% show_added_entities = added_entities.any? %>
<% show_removed_entities = removed_entities.any? %>
<% show_entities = show_existing_entities || show_added_entities || show_removed_entities %>

<aside>
  <% if show_endpoints %>
    <div class="aside-section">Endpoints</div>
    <% if show_existing_endpoints %>
      <% existing_endpoints.each do |endpoint, _| %>
        <div class="link-container">
          <a href="<%= "#endpoint-#{endpoint.page_url}" %>"><%= endpoint.name %></a>
        </div>
      <% end %>
    <% end %>

    <% if show_added_endpoints %>
      <div class="aside-section added">New endpoints</div>
      <% added_endpoints.each do |endpoint| %>
        <div class="link-container">
          <a href="<%= "#endpoint-#{endpoint.page_url}" %>"><%= endpoint.name %></a>
        </div>
      <% end %>
    <% end %>

    <% if show_removed_endpoints %>
      <div class="aside-section removed">Removed endpoints</div>
      <% removed_endpoints.each do |endpoint| %>
        <div class="link-container">
          <a href="<%= "#endpoint-#{endpoint.page_url}" %>"><%= endpoint.name %></a>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% if show_entities %>
    <div class="aside-section">Entities</div>

    <% if show_existing_entities %>
      <% existing_entities.each do |entity, _| %>
        <div class="link-container">
          <a href="<%= "#entity-#{entity.name}" %>"><%= entity.name %></a>
        </div>
      <% end %>
    <% end %>

    <% if show_added_entities %>
      <div class="aside-section added">New</div>
      <% added_entities.each do |entity| %>
        <div class="link-container">
          <a href="<%= "#entity-#{entity.name}" %>"><%= entity.name %></a>
        </div>
      <% end %>
    <% end %>

    <% if show_removed_entities %>
      <div class="aside-section removed">Removed</div>
      <% removed_entities.each do |entity| %>
        <div class="link-container">
          <a href="<%= "#entity-#{entity.name}" %>"><%= entity.name %></a>
        </div>
      <% end %>
    <% end %>
  <% end %>
</aside>
