<div class="lines-container">
  <table class="lines">
    <thead>
    <tr>
      <th>
        <%= endpoint.name %>
        <button type="button" onclick="
        (function copy() {
          navigator.clipboard.writeText('<%= endpoint.example_json %>');
          })()
        ">Example JSON</button>
      </th>
    </tr>
    </thead>
    <tbody>
    <% diff_lines.each do |diff_line| %>
      <% if diff_line.type %>
        <tr>
          <td><%= diff_line.pre_type %><% if diff_line.type %><span class="<%= diff_line.type %>"><%= diff_line.type %></span><% end %></td>
        </tr>
      <% else %>
        <tr>
          <td><%= diff_line.line %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
