<div class="endpoint-container">
  <div class="endpoint-name-container">
    <div class="endpoint-name">
      <%= endpoint.name %>
    </div>
  </div>

  <div class="endpoint-section-container">
    <div class="endpoint-section">INPUT</div>
    <div class="endpoint-section">INPUT</div>
  </div>

  <div class="endpoint-root-container">
    <div class="endpoint-root">
      <%= render "spec", diff: input_diff.before %>
    </div>
    <div class="endpoint-root">
      <%= render "spec", diff: input_diff.after %>
    </div>
  </div>

  <div class="endpoint-section-container">
    <div class="endpoint-section">OUTPUT</div>
    <div class="endpoint-section">OUTPUT</div>
  </div>

  <div class="endpoint-root-container">
    <div class="endpoint-root">
      <%= render "spec", diff: output_diff.before %>
    </div>
    <div class="endpoint-root">
      <%= render "spec", diff: output_diff.after %>
    </div>
  </div>
</div>