<div class="entity-container" id="entity-<%= entity.name %>">
  <div class="entity-name-container">
    <div class="entity-name">
      <%= entity.name %>
    </div>
  </div>

  <div class="entity-root-container">
    <div class="entity-root">
      <%= render "specs/json", diff: diff.before %>
    </div>
    <div class="entity-root">
      <%= render "specs/json", diff: diff.after %>
    </div>
  </div>

  <div class="entity-root-container">
    <div class="entity-root">
      <div class="spec"><%= previous_entity.root.serialize %></div>
    </div>
    <div class="entity-root">
      <div class="spec"><%= entity.root.serialize %></div>
    </div>
  </div>
</div>