<div class="main-container">
  <%= render "versions/aside",
             categorized_endpoints: @categorized_endpoints,
             categorized_entities: @categorized_entities %>

  <div class="version-container">
    <div class="version-name-container">
      <div class="version-name">
        <% if @previous_version.present? %>
          <%= @previous_version.name %>
        <% end %>
      </div>
      <div class="version-name"><%= @version.name %></div>
    </div>

    <div class="section">Endpoints</div>

    <% @categorized_endpoints.each do |endpoint| %>
      <% if endpoint.annotation == "existing" %>
        <div
          data-controller="endpoint"
          data-endpoint-target="container"
          data-endpoint-url-value="<%= project_endpoint_path(project_name: @project.name, id: endpoint.id) %>"
        >
          <%= render "endpoints/endpoint_diff", endpoint: endpoint, previous_endpoint: endpoint.previous, expanded: false %>
        </div>
      <% elsif endpoint.annotation == "added" %>
        <div
          data-controller="endpoint"
          data-endpoint-target="container"
          data-endpoint-url-value="<%= project_endpoint_path(project_name: @project.name, id: endpoint.id) %>"
        >
          <%= render "endpoints/endpoint_added", endpoint: endpoint, expanded: false %>
        </div>
      <% elsif endpoint.annotation == "removed" %>
        <%= render "endpoints/endpoint_removed", endpoint: endpoint, expanded: false %>
      <% end %>
    <% end %>

    <div class="section">Entities</div>

    <% @categorized_entities.each do |entity| %>
      <% if entity.annotation == 'existing' %>
        <% diff = Diff::FromValues.new(entity.previous.parsed_root, entity.parsed_root) %>
        <%= render "versions/entity_diff", entity: entity, previous_entity: entity.previous, diff: diff %>
      <% elsif entity.annotation == 'added' %>
        <% diff = entity.parsed_root.to_diff(:no_change) %>
        <%= render "versions/entity_added", entity: entity, diff: diff %>
      <% elsif entity.annotation == 'removed' %>
        <% diff = entity.parsed_root.to_diff(:no_change) %>
        <%= render "versions/entity_removed", entity: entity, diff: diff %>
      <% end %>
    <% end %>
  </div>
</div>
