<% existing_endpoints = @categorized_endpoints[:existing] %>
<% added_endpoints = @categorized_endpoints[:added] %>
<% removed_endpoints = @categorized_endpoints[:removed] %>
<% existing_entities = @categorized_entities[:existing] %>
<% added_entities = @categorized_entities[:added] %>
<% removed_entities = @categorized_entities[:removed] %>

<div class="main-container">
  <%= render "versions/aside",
             existing_endpoints: existing_endpoints,
             added_endpoints: added_endpoints,
             removed_endpoints: removed_endpoints,
             existing_entities: existing_entities,
             added_entities: added_entities,
             removed_entities: removed_entities %>

  <div class="version-container">
    <div class="version-name-container">
      <div class="version-name">
        <% if @previous_version.present? %>
          <%= @previous_version.name %>
        <% end %>
      </div>
      <div class="version-name"><%= @version.name %></div>
    </div>

    <div class="section">Endpoints</div>

    <% existing_endpoints.each do |endpoint, previous_endpoint| %>
      <div
        data-controller="endpoint"
        data-endpoint-target="container"
        data-endpoint-url-value="<%= project_endpoint_path(project_name: @project.name, id: endpoint.id) %>"
      >
        <%= render "endpoints/endpoint_diff", endpoint: endpoint, previous_endpoint: previous_endpoint, expanded: false %>
      </div>
    <% end %>

    <% added_endpoints.each do |endpoint| %>
      <div
        data-controller="endpoint"
        data-endpoint-target="container"
        data-endpoint-url-value="<%= project_endpoint_path(project_name: @project.name, id: endpoint.id) %>"
      >
        <%= render "endpoints/endpoint_added", endpoint: endpoint, expanded: false %>
      </div>
    <% end %>

    <% removed_endpoints.each do |endpoint| %>
      <%= render "endpoints/endpoint_removed", endpoint: endpoint, expanded: false %>
    <% end %>

    <div class="section">Entities</div>

    <% existing_entities.each do |entity, previous_entity| %>
      <% diff = Diff::FromValues.new(previous_entity.parsed_root, entity.parsed_root) %>
      <%= render "versions/entity_diff", entity: entity, previous_entity: previous_entity, diff: diff %>
    <% end %>

    <% added_entities.each do |entity| %>
      <% diff = entity.parsed_root.to_diff(:no_change) %>
      <%= render "versions/entity_added", entity: entity, diff: diff %>
    <% end %>

    <% removed_entities.each do |entity| %>
      <% diff = entity.parsed_root.to_diff(:no_change) %>
      <%= render "versions/entity_removed", entity: entity, diff: diff %>
    <% end %>
  </div>
</div>
