<div class="version-view" data-controller="endpoint" >
  <h1><%= @version.project.name %></h1>
  <%= form_with model: [@project, @version] do |f| %>
    <%= f.hidden_field :order %>
    <table class="layout">
      <thead>
      <tr>
        <th class="previous">
          <%= @latest_version.name %>
          <div class="date"><%= @latest_version.created_at %></div>
        </th>
        <th class="current">
          <%= f.text_field :name %>
          <div class="date"><%= @version.created_at %></div>
        </th>
      </tr>
      </thead>
      <% @version.endpoints.each do |endpoint| %>
        <tr>
          <td>
            <%= render "endpoint", endpoint_name: endpoint.name, diff_lines: endpoint.diff(@latest_version).before %>
          </td>
          <td>
            <%= render "endpoint_form", endpoint: endpoint, f: f %>
          </td>
        </tr>
      <% end %>
      <tr data-endpoint-target="container">
        <td></td>
        <td>
          <div class="new-version-form-container">
            <table class="new-version-form">
              <thead>
              <tr>
                <th data-endpoint-target="nameholder">
                  <%= select_tag :new_verb, options_for_select(%w[GET POST PATCH PUT DELETE], :get), { id: nil, name: nil, "data-endpoint-target": "verb" } %>
                  <%= text_field_tag 'url', '/resource', "data-endpoint-target": "url" %>
                  <%= button_tag 'Add', type: 'button', "data-action": "endpoint#add" %>
                </th>
              </tr>
              </thead>
              <tbody data-endpoint-target="body">
              </tbody>
            </table>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <%= f.submit %>
        </td>
      </tr>
    </table>
  <% end %>

  <%= link_to "Back", projects_path %>
</div>
