<div class="version-view" data-controller="endpoint" >
  <h1><%= @version.project.name %></h1>
  <%= form_with model: [@project, @version] do |f| %>
    <%= f.hidden_field :project_id %>
    <%= f.hidden_field :order %>
    <table class="layout">
      <thead>
      <tr>
        <th class="previous">
          <%= @latest_version.name %>
          <div class="date"><%= @latest_version.created_at %></div>
        </th>
        <th class="current">
          <%= f.text_field :name %>
          <div class="date"><%= @version.created_at %></div>
        </th>
      </tr>
      </thead>
      <% @version.endpoints.each do |endpoint| %>
        <tr>
          <td>
            <%= render "endpoint_diff_changed", endpoint: endpoint, diff_lines: endpoint.endpoint_root.to_diff(:no_change) %>
          </td>
          <td>

            <div class="react-root"
                 data-initial-root="<%= endpoint.endpoint_root.serialize %>"
                 data-initial-verb="<%= endpoint.verb %>"
                 data-initial-url="<%= endpoint.url %>"
            ></div>

            <%#= render "endpoint_form", endpoint: endpoint, f: f %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td>
          <%= f.submit %>
        </td>
      </tr>
    </table>
  <% end %>

  <%= link_to "Back", projects_path %>
</div>

<% content_for :vite do %>
  <%= vite_client_tag %>
  <%= vite_javascript_tag "root.jsx" %>
<% end %>

