<div class="version-view">
  <div class="version-view">
    <div class="title-container">
      <h1>New version for <%= @version.project.name %></h1>
    </div>
  </div>

  <%= form_with model: [@project, @version] do |f| %>
    <%= f.hidden_field :project_id %>
    <%= f.hidden_field :order %>

    <div class="main-container">
      <div class="version-container">
        <div class="version-name-container">
          <div class="version-name">
            Latest version <%= @latest_version.name %>
            <div class="date"><%= @latest_version.created_at.strftime("%Y-%m-%d") %></div>
          </div>
          <div class="version-name">
            <%= f.text_field :name %>
            <div class="date"><%= @version.created_at.strftime("%Y-%m-%d") %></div>
          </div>
        </div>

        <% @version.existing_endpoints.each do |endpoint, previous_endpoint| %>
          <% diff = previous_endpoint.endpoint_root.to_diff(:no_change) %>
          <%= render "endpoint_new", endpoint: endpoint, diff: diff %>
        <% end %>

        <div class="endpoint-container">
          <div class="endpoint-name-container">
            <div class="endpoint-name-placeholder"></div>
            <div class="endpoint-name added">
              <div id="react-add-endpoint"></div>
            </div>
          </div>
        </div>

        <%= f.submit %>
      </div>
    </div>
  <% end %>

  <%= link_to "Back", projects_path %>
</div>

<script>
    function removeEndpoint(el) {
        const parent = el.parentElement
        const sibling = parent.previousElementSibling;
        const root = parent.parentElement.parentElement.querySelector(".react-json-schema")

        parent.classList.add("removed")
        parent.innerText = sibling.innerText;
        root.innerText = '';
    }

    function removeNewEndpoint(el) {
        const parent = el.parentElement.parentElement.parentElement
        parent.remove();
    }
</script>

<template id="empty-endpoint">
  <div class="endpoint-container">
    <div class="endpoint-name-container">
      <div class="endpoint-name-placeholder"></div>
      <div class="endpoint-name">
        <select value="" name="version[endpoints_attributes][][http_verb]">
          <option value="verb_get">GET</option>
          <option value="verb_post">POST</option>
          <option value="verb_delete">DELETE</option>
          <option value="verb_put">PUT</option>
          <option value="verb_patch">PATCH</option>
        </select>
        <input type="text"
               value=""
               name="version[endpoints_attributes][][url]"/>
        <button type="button" onClick="removeNewEndpoint(this)">x</button>
      </div>
    </div>

    <div class="endpoint-section-container">
      <div class="endpoint-section">INPUT</div>
      <div class="endpoint-section">INPUT</div>
    </div>

    <div class="endpoint-section-container">
      <div class="endpoint-section">OUTPUT</div>
      <div class="endpoint-section">OUTPUT</div>
    </div>

    <div class="endpoint-root-container">
      <div class="endpoint-root-placeholder">
      </div>
      <div class="endpoint-root">
        <div class="react-json-schema"
             data-initial-root="string"
        ></div>
      </div>
    </div>

    <div class="endpoint-section-container">
      <div class="endpoint-section">ERRORS</div>
      <div class="endpoint-section">ERRORS</div>
    </div>
  </div>
</template>