<div class="version-view">
  <h1><%= @version.project.name %></h1>
  <%= form_with model: [@project, @version] do |f| %>
    <%= f.hidden_field :order %>
    <table class="layout">
      <thead>
      <tr>
        <th class="previous">
          <%= @latest_version.name %>
          <div class="date"><%= @latest_version.created_at %></div>
        </th>
        <th class="current">
          <%= f.text_field :name %>
          <div class="date"><%= @version.created_at %></div>
        </th>
      </tr>
      </thead>
      <% @version.endpoints.each do |endpoint| %>
        <tr>
          <td>
            <%= render "endpoint", endpoint_name: endpoint.name, diff_lines: endpoint.diff(@latest_version).before %>
          </td>
          <td>
          </td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td>
          <%= f.submit %>
        </td>
      </tr>
    </table>
  <% end %>

  <%= link_to "Back", projects_path %>
</div>
