<div class="version-view">
  <h1><%= @version.project.name %></h1>

  <div class="flex-container">
    <%= render "version", version: @version.previous, class_name: 'previous' %>
    <%= render "version", version: @version, class_name: 'current' %>
    <%= render "version", version: @version.next, class_name: 'next' %>
  </div>
</div>

<%= link_to "Back", projects_path %>