<div class="version-view">
  <div class="title-container">
    <h1><%= @version.project.name %> <%= @version.name %></h1>
    <% if @previous_version.present? %>
      <%= button_to "⬅️ #{@previous_version.name}", project_version_path(name: @previous_version.name, project_name: @previous_version.project.name), method: :get %>
    <% end %>
    <% if @next_version.present? %>
      <%= button_to "➡️ #{@next_version.name}", project_version_path(name: @next_version.name, project_name: @next_version.project.name), method: :get %>
    <% end %>
    <%= button_to "Create new version", new_project_version_path(project_name: @version.project.name), method: :get %>
  </div>
  <div class="main-container">
    <%= render "aside",
               existing_endpoints: @existing_endpoints,
               added_endpoints: @added_endpoints,
               removed_endpoints: @removed_endpoints,
               existing_entities: @existing_entities,
               added_entities: @added_entities,
               removed_entities: @removed_entities %>

    <div class="version-container">
      <div class="version-name-container">
        <div class="version-name">
          <% if @previous_version.present? %>
            <%= @previous_version.name %>
          <% end %>
        </div>
        <div class="version-name"><%= @version.name %></div>
      </div>

      <div class="section">Endpoints</div>

      <% @existing_endpoints.each do |endpoint, previous_endpoint| %>
        <% input_diff = Diff::FromValues.new(previous_endpoint.input, endpoint.input) %>
        <% output_diff = Diff::FromValues.new(previous_endpoint.output, endpoint.output) %>
        <%= render "endpoint_diff", endpoint: endpoint, input_diff: input_diff, output_diff: output_diff %>
      <% end %>

      <% @added_endpoints.each do |endpoint| %>
        <% input_diff = endpoint.input.to_diff(:no_change) %>
        <% output_diff = endpoint.output.to_diff(:no_change) %>
        <%= render "endpoint_added", endpoint: endpoint, input_diff: input_diff, output_diff: output_diff %>
      <% end %>

      <% @removed_endpoints.each do |endpoint| %>
        <% input_diff = endpoint.input.to_diff(:no_change) %>
        <% output_diff = endpoint.output.to_diff(:no_change) %>
        <%= render "endpoint_removed", endpoint: endpoint, input_diff: input_diff, output_diff: output_diff %>
      <% end %>

      <div class="section">Entities</div>

      <% @existing_entities.each do |entity, previous_entity| %>
        <% diff = Diff::FromValues.new(previous_entity.root, entity.root) %>
        <%= render "entity_diff", entity: entity, diff: diff %>
      <% end %>

      <% @added_entities.each do |entity| %>
        <% diff = entity.root.to_diff(:no_change) %>
        <%= render "entity_added", entity: entity, diff: diff %>
      <% end %>

      <% @removed_entities.each do |entity| %>
        <% diff = entity.root.to_diff(:no_change) %>
        <%= render "entity_removed", entity: entity, diff: diff %>
      <% end %>
    </div>
  </div>
</div>
