<div class="version-view">
  <h1><%= @version.project.name %></h1>
  <table class="layout">
    <thead>
    <tr>
      <th class="previous">
        <% if @previous_version.present? %>
          <%= link_to @previous_version.name, project_version_path(id: @previous_version.id, project_id: @previous_version.project.id) %>
          <div class="date"><%= @previous_version.created_at %></div>
        <% end %>
      </th>
      <th class="current">
        <%= @version.name %>
        <div class="date"><%= @version.created_at %></div>
      </th>
      <th class="next">
        <% if @next_version.present? %>
          <%= link_to "see next - #{@next_version.name}", project_version_path(id: @next_version.id, project_id: @next_version.project.id) %>
          <div class="date"><%= @next_version.created_at %></div>
        <% else %>
          <%= link_to "Create new version", new_project_version_path(project_id: @version.project.id) %>
        <% end %>
      </th>
    </tr>
    </thead>

    <% @version.existing_endpoints.each do |previous_endpoint, endpoint| %>
      <tr>
        <td>
          <%= render "endpoint_diff_changed", endpoint: previous_endpoint, diff_lines: Diff.new(previous_endpoint, endpoint).before %>
        </td>
        <td>
          <%= render "endpoint_diff_changed", endpoint: endpoint, diff_lines: Diff.new(previous_endpoint, endpoint).after %>
        </td>
        <td></td>
      </tr>
    <% end %>

    <% @version.added_endpoints.each do |endpoint| %>
      <tr>
        <td>
        </td>
        <td class="added-endpoint">
          <%= render "endpoint_diff_added", endpoint: endpoint, diff_lines: Diff.new(nil, endpoint).after %>
        </td>
        <td></td>
      </tr>
    <% end %>

    <% @previous_version&.removed_endpoints&.each do |endpoint| %>
      <tr>
        <td class="removed-endpoint">
          <%= render "endpoint_diff_removed", endpoint: endpoint, diff_lines: Diff.new(nil, endpoint).after %>
        </td>
        <td>
        </td>
      </tr>
    <% end %>
  </table>

  <%= link_to "Back", projects_path %>
</div>
