<div class="version-view">
  <div class="title-container">
    <h1><%= @version.project.name %> <%= @version.name %></h1>
    <% if @previous_version.present? %>
      <%= button_to "⬅️ #{@previous_version.name}", project_version_path(name: @previous_version.name, project_name: @previous_version.project.name), method: :get %>
    <% end %>
    <% if @next_version.present? %>
      <%= button_to "➡️ #{@next_version.name}", project_version_path(name: @next_version.name, project_name: @next_version.project.name), method: :get %>
    <% end %>
    <%= button_to "Create new version", new_project_version_path(project_name: @version.project.name), method: :get %>
  </div>
  <div class="main-container">
    <aside>
      <div class="aside-section">Endpoints</div>
      <% @version.existing_endpoints.each do |endpoint, _| %>
        <div class="link-container">
          <a href="<%= "##{endpoint.page_url}" %>"><%= endpoint.name %></a>
        </div>
      <% end %>
      <div class="aside-section added">New</div>
      <% @version.added_endpoints.each do |endpoint| %>
        <div class="link-container">
          <a href="<%= "##{endpoint.page_url}" %>"><%= endpoint.name %></a>
        </div>
      <% end %>
      <div class="aside-section removed">Removed</div>
      <% @previous_version&.removed_endpoints&.each do |endpoint| %>
        <div class="link-container">
          <a href="<%= "##{endpoint.page_url}" %>"><%= endpoint.name %></a>
        </div>
      <% end %>
    </aside>

    <div class="version-container">
      <div class="version-name-container">
        <div class="version-name">
          <% if @previous_version.present? %>
            <%= @previous_version.name %>
          <% end %>
        </div>
        <div class="version-name"><%= @version.name %></div>
      </div>

      <% @version.existing_endpoints.each do |endpoint, previous_endpoint| %>
        <% input_diff = Diff::FromValues.new(previous_endpoint.input, endpoint.input) %>
        <% output_diff = Diff::FromValues.new(previous_endpoint.output, endpoint.output) %>
        <%= render "endpoint_diff", endpoint: endpoint, input_diff: input_diff, output_diff: output_diff %>
      <% end %>

      <% @version.added_endpoints.each do |endpoint| %>
        <% input_diff = endpoint.input.to_diff(:no_change) %>
        <% output_diff = endpoint.output.to_diff(:no_change) %>
        <%= render "endpoint_added", endpoint: endpoint, input_diff: input_diff, output_diff: output_diff %>
      <% end %>

      <% @previous_version&.removed_endpoints&.each do |endpoint| %>
        <% input_diff = endpoint.input.to_diff(:no_change) %>
        <% output_diff = endpoint.output.to_diff(:no_change) %>
        <%= render "endpoint_removed", endpoint: endpoint, input_diff: input_diff, output_diff: output_diff %>
      <% end %>
    </div>
  </div>
</div>
