<div class="version-view">
  <h1><%= @version.project.name %></h1>
  <table class="layout">
    <thead>
      <tr>
        <th class="previous">
          <% if @previous_version.present? %>
            <%= link_to @previous_version.name, project_version_path(id: @previous_version.id, project_id: @previous_version.project.id) %>
            <div class="date"><%= @previous_version.created_at %></div>
          <% end %>
        </th>
        <th class="current">
          <%= @version.name %>
          <div class="date"><%= @version.created_at %></div>
        </th>
        <th class="next">
          <% if @next_version.present? %>
            <%= link_to "see next - #{@next_version.name}", project_version_path(id: @next_version.id, project_id: @next_version.project.id) %>
            <div class="date"><%= @next_version.created_at %></div>
          <% end %>
        </th>
      </tr>
    </thead>
    <% @version.endpoints.each do |endpoint| %>
      <% if (@diff = endpoint.diff(@previous_version)) %>
        <tr>
          <td>
            <%= render "endpoint", endpoint_name: endpoint.name, diff_lines: endpoint.diff(@previous_version).before %>
          </td>
          <td>
            <%= render "endpoint", endpoint_name: endpoint.name, diff_lines: endpoint.diff(@previous_version).after %>
          </td>
          <td></td>
        </tr>
      <% else %>
        <tr>
          <td>
            <%= render "endpoint", endpoint_name: endpoint.name, diff_lines: Diff.new(nil, endpoint).before %>
          </td>
          <td>
            <%= render "endpoint", endpoint_name: endpoint.name, diff_lines: Diff.new(nil, endpoint).after %>
          </td>
          <td></td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <%= link_to "Back", projects_path %>
</div>
