<div class="version-view">
  <div class="title-container">
    <h1><%= @project.name %> <%= @version.name %></h1>
    <% if @previous_version.present? %>
      <%= button_to "⬅️ #{@previous_version.name}", project_version_path(name: @previous_version.name, project_name: @previous_version.project.name), method: :get %>
    <% end %>
    <% if @next_version.present? %>
      <%= button_to "➡️ #{@next_version.name}", project_version_path(name: @next_version.name, project_name: @next_version.project.name), method: :get %>
    <% end %>
    <%= button_to "Create new version", new_project_version_path(project_name: @project.name), method: :get %>
  </div>
  <div class="main-container">
    <%= render "versions/aside",
               existing_endpoints: @existing_endpoints,
               added_endpoints: @added_endpoints,
               removed_endpoints: @removed_endpoints,
               existing_entities: @existing_entities,
               added_entities: @added_entities,
               removed_entities: @removed_entities %>

    <div class="version-container">
      <div class="version-name-container">
        <div class="version-name">
          <% if @previous_version.present? %>
            <%= @previous_version.name %>
          <% end %>
        </div>
        <div class="version-name"><%= @version.name %></div>
      </div>

      <div class="section">Endpoints</div>

      <% @existing_endpoints.each do |endpoint, previous_endpoint| %>
        <div
          data-controller="endpoint"
          data-endpoint-target="container"
          data-endpoint-url-value="<%= project_version_endpoint_path(project_name: @project.name, version_name: endpoint.version.name, id: endpoint.id) %>"
        >
          <%= render "endpoints/endpoint_diff", endpoint: endpoint, previous_endpoint: previous_endpoint, expanded: false %>
        </div>
      <% end %>

      <% @added_endpoints.each do |endpoint| %>
        <div
          data-controller="endpoint"
          data-endpoint-target="container"
          data-endpoint-url-value="<%= project_version_endpoint_path(project_name: endpoint.version.project.name, version_name: endpoint.version.name, id: endpoint.id) %>"
        >
          <%= render "endpoints/endpoint_added", endpoint: endpoint, expanded: false %>
        </div>
      <% end %>

      <% @removed_endpoints.each do |endpoint| %>
        <% input_diff = endpoint.input.to_diff(:no_change) %>
        <% output_diff = endpoint.output.to_diff(:no_change) %>
        <%= render "endpoints/endpoint_removed", endpoint: endpoint, input_diff: input_diff, output_diff: output_diff, expanded: false %>
      <% end %>

      <div class="section">Entities</div>

      <% @existing_entities.each do |entity, previous_entity| %>
        <% diff = Diff::FromValues.new(previous_entity.root, entity.root) %>
        <%= render "versions/entity_diff", entity: entity, previous_entity: previous_entity, diff: diff %>
      <% end %>

      <% @added_entities.each do |entity| %>
        <% diff = entity.root.to_diff(:no_change) %>
        <%= render "versions/entity_added", entity: entity, diff: diff %>
      <% end %>

      <% @removed_entities.each do |entity| %>
        <% diff = entity.root.to_diff(:no_change) %>
        <%= render "versions/entity_removed", entity: entity, diff: diff %>
      <% end %>
    </div>
  </div>
</div>
