<div class="version-view">
  <div class="title-container">
    <h1><%= @project.name %> <%= @version.name %></h1>
    <div class="candidate-navigation">
      <% if @previous_version.order > -1 %>
        <%= button_to "⬅ #{@previous_version.name}", project_version_path(name: @previous_version.name, project_name: @previous_version.project.name), method: :get, class: "btn btn-primary" %>
      <% else %>
        <%= button_tag "⬅", type: "button", class: "btn btn-secondary", disabled: true %>
      <% end %>

      <% if @next_version.present? && @next_version.order > -1 %>
        <%= button_to "➡ #{@next_version.name}", project_version_path(name: @next_version.name, project_name: @next_version.project.name), method: :get, class: "btn btn-primary" %>
      <% else %>
        <%= button_tag "➡", type: "button", class: "btn btn-secondary", disabled: true %>
      <% end %>
      <%= button_to "Create new candidate", new_project_candidate_path(project_name: @project.name), method: :get, class: "btn btn-primary" %>
    </div>
  </div>
  <%= render "versions/version" %>
</div>
